<div>
  <mat-toolbar class="header">
    <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
    <span class="example-spacer"></span>
    <span>تست روانشناسی</span>
    <span class="m-2">{{ nameValue }} </span>
    <div class="flex-auto w-64 ...">
        <mat-icon  routerLink="PersonComponent" mat-list-icon>person</mat-icon>
        <mat-icon routerLink="logout" mat-list-icon>exit_to_app</mat-icon>

    </div>

  </mat-toolbar>
  <app-loading [isLoading]="isLoading"></app-loading>
    <div class="flex">
        <div class="flex-none">
            <app-sidebar
                [isExpanded]="isExpanded"
            >
            </app-sidebar>
        </div>
        <div class="content scrollable-content" >
            <router-outlet></router-outlet>
        </div>
    </div>

    <app-footer></app-footer>
</div>
