<div>
    <mat-toolbar>
        <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
        <span class="example-spacer"></span>
        <span>تست روانشناسی</span>
    </mat-toolbar>
    <div class="flex">
        <div class="flex-none">
            <app-sidebar
                [isExpanded]="isExpanded"
            >
            </app-sidebar>
        </div>  
        <div class="content" >
            <router-outlet></router-outlet>
        </div>
    </div>

    <app-footer></app-footer>
</div>