		<mat-nav-list >
			<mat-list-item routerLinkActive="active:bg-violet-700" routerLink="/"  class="parent">
				<mat-icon mat-list-icon>home</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing"> خانه </span>
			</mat-list-item>
			<mat-list-item routerLinkActive="active:bg-violet-700"  class="parent">
				<mat-icon  routerLink="PersonComponent" mat-list-icon>person</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">تنظیمات کاربری</span>
			</mat-list-item>
			<mat-list-item routerLinkActive="active:bg-violet-700" routerLink="sharedComponent"  class="parent">
				<mat-icon mat-list-icon>shared</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
			</mat-list-item>
			<mat-list-item routerLinkActive="active:bg-violet-700"  class="parent">
				<mat-icon mat-list-icon>star</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
			</mat-list-item>
			<mat-list-item routerLinkActive="active:bg-violet-700"  class="parent">
				<mat-icon routerLink="settingComponent" mat-list-icon>settings</mat-icon>
				<span class="full-width" *ngIf="isExpanded || isShowing">تنظیمات</span>
			</mat-list-item>
		</mat-nav-list>


